"*":
  "autocomplete-python":
    useKite: false
  "build-cmake":
    buildDirectory: "$PROJECT_DIR/build"
  "clang-format":
    fallbackStyle: "google"
    formatCPlusPlusOnSave: true
  core:
    disabledPackages: [
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontSize: 12
    tabType: "soft"
  jekyll:
    buildCommand: [
      "bundle"
      "exec"
      "jekyll"
      "build"
    ]
  "linter-ui-default":
    panelRepresents: "Entire Project"
    showPanel: true
  "seti-ui":
    compactView: true
  welcome:
    showOnStartup: false
